<div class="battleground">
    <div class="user-selection">
        <ng-container [ngSwitch]="optionSelectedByPlayer">
            <ng-template [ngSwitchCase]="gameOptions.Rock">
                <img src="/assets/imgs/rock.jpg">
            </ng-template>
            <ng-template [ngSwitchCase]="gameOptions.Paper">
                <img src="/assets/imgs/paper.jpg">
            </ng-template>
            <ng-template [ngSwitchCase]="gameOptions.Scissors">
                <img src="/assets/imgs/scissors.jpg">
            </ng-template>
            <ng-template ngSwitchDefault>
            </ng-template>
        </ng-container>
    </div>
    <div class="result">
        <ng-container *ngIf="gameResult">
            <h1>{{ gameResult.winner }}</h1>
            <h2>{{ gameResult.reasonOfVictory }}</h2>
        </ng-container>
    </div>
    <div class="computer-selection">
        <ng-container [ngSwitch]="optionSelectedByComputer">
            <ng-template [ngSwitchCase]="gameOptions.Rock">
                <img src="/assets/imgs/rock.jpg">
            </ng-template>
            <ng-template [ngSwitchCase]="gameOptions.Paper">
                <img src="/assets/imgs/paper.jpg">
            </ng-template>
            <ng-template [ngSwitchCase]="gameOptions.Scissors">
                <img src="/assets/imgs/scissors.jpg">
            </ng-template>
            <ng-template ngSwitchDefault>
            </ng-template>
        </ng-container>
    </div>
</div>