<section>
    <mat-card>
        <mat-card-header>
            <img src="/assets/imgs/person-circle.png" class="header-image">
        </mat-card-header>
        <mat-card-content>
            <form class="login-form">
                <mat-form-field appearance="outline">
                    <mat-label>User Name</mat-label>
                    <input matInput placeholder="Enter your name" name="usename">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput placeholder="Enter your password" value="" name="password" type="password">
                </mat-form-field>
            </form>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary">Login</button>
            <mat-divider></mat-divider>
            <h3>Don't you have an account? Create an account</h3>
        </mat-card-actions>
    </mat-card>
</section>
