<div>
    <app-scoreboard></app-scoreboard>
    <app-battleground
        [optionSelectedByPlayer]="optionSelectedByPlayer"
        [optionSelectedByComputer]="optionSelectedByComputer"
        [gameResult]="gameResult">
    </app-battleground>
    <app-rock-paper-scissors-selector 
        (optionSelectedByPlayer)="onOptionSelectedByPlayer($event)"
        (resetGameByPlayer)="onResetGameByPlayer($event)"
        (onClickBackButton)="onClickBackButton($event)">
    </app-rock-paper-scissors-selector>
</div>
