img
    width: 100%
    height: 215px

h1
    text-align: center

.selector
    display: flex
    justify-content: center
    gap: 5%

    .box
        border: 2px solid
        width: 130px
        height: 215px