<div class="background">
    <section class="title-container">
        <img src="/assets/imgs/title-menu.png">
    </section>
    <section class="menu-container">
        <div class="left-hand">
            <img src="/assets/imgs/left-hand-menu.png">
        </div>
        <div class="menu">
            <mat-card>
                <mat-card-header>
                  <mat-card-title>Menu</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <button mat-stroked-button color="primary">Play</button>
                    <button mat-stroked-button color="primary">Stadistics</button>
                    <button mat-stroked-button color="primary">Logout</button>
                </mat-card-content>
              </mat-card>
        </div>
        <div class="right-hand">
            <img src="/assets/imgs/right-hand-menu.png">
        </div>
    </section>
</div>